
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}

.header-section {
    width: 40%;
    float:  left;
    margin-right: 5%;
    padding-left: 2%;
}

.header-section img {
    width: 100%;
}